.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background: var(--theme-focused-foreground);
  }
}

.icon {
  flex-shrink: 0;
  user-select: none;
  cursor: pointer;
}

.title {
  min-width: 10%;
  width: 100%;
  user-select: none;
  cursor: pointer;
  transition: 200ms ease all;
  transition-property: padding;
  padding-left: 1ch;
}

.content {
  padding: 0 1ch;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  transition: all;
}


.active {
  .title {
    padding-left: 2ch;
  }
}


